<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Sign Up
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col size="3" offset="4">
        <ion-img src="assets/images/logo.png" alt=""></ion-img>
      </ion-col>
    </ion-row>
   
  </ion-grid>
  <div class="ion-margin">
    <form [formGroup]="form" (ngSubmit)="signUp()">
      <div>
        <input type="email" class="form-control" placeholder="Email" formControlName="email" name="email">
      </div>
      <br>
      <div>
      <input type="password" class="form-control" placeholder="Passowrd" formControlName="password" name="password">
    </div>
        <br>
      <div>
          <ion-button  color="success" type="submit" expand="block">Register</ion-button>
      </div>
    </form>
  </div>
  

  
</ion-content>